/* ==========================================================================
   # Colors
   ========================================================================== */

/** primary **/ 
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #1a1a1a;
$color-grey: #eeeeee;
$color-grey-dark: #d8d8d8;
$color-grey-light: #d9d9d9;

/** status **/ 
$color-warning:       #ff0000;

/* ==========================================================================
   # Font
   ========================================================================== */

$ikaros: "Ikaros";                                             

/* ==========================================================================
   # Media Queries
   ========================================================================== */
               
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-3xl: 1680px;
$screen-4xl: 1920px;
