.cartItem {
  display: flex;
  margin-bottom: 10px;
}

.cartImage {
  position: relative; 
  width: 90px;
  flex-basis: 90px;
  height: 90px; 
  padding-bottom: 90px;
  margin-right: 10px;
}

.cartItemContent {
  flex: 1;
  h3 a {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 5px;
    letter-spacing: 0.05em;
  }
}

.cartItemQtyBoxTotalWrap {
  display: flex;
  justify-content: space-between;
}