.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.logo {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}