@import '../../styles/helpers/helpers';

.priceWrap {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  span {
    margin: 0 2.5px;
  }
}

.priceOnSale {
  color: $color-warning;
}

.compareAtPrice {
  text-decoration: line-through;
  color: #666666;
}