@import './helpers/helpers';
@import './base/base.scss';
@import './vendor/slick.scss';


.basicPage {
  margin: 100px 0;
}

.collectionPage {
  text-align: center;
  margin: 32px 0;
}

.productPage {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 150px;
}

.productMain {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-right: 32px;
}

.page--frequently-asked-questions {
  max-width: 800px;
  h1 {
    margin-bottom: 40px;
  }
}


