.missionStatement {
  width: 100%;
  text-align: center;
  margin: 60px 0;
  div {
    max-width: 750px;
    margin: 0 auto;
  }
  h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    font-style: italic;
    color: #666666;
  }
}